{% extends "base.html" %}

{% block content %}
    {{ section.content | safe }}

    {% set blog_section = get_section(path="blog/_index.md", metadata_only=false) %}
    <br>
    {% if blog_section.pages %}
    <h2>Recent posts</h2>
    <ul class="content-list">
        {% for page in blog_section.pages | slice(end=3) %}
            {% include "partials/content-listing-item.html" %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if config.extra.list_pages %}
    <ul class="posts">
        {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            <span class="date">{{ page.date | date(format="%Y-%m-%d") }}</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if paginator %}
        {% include "partials/pagination.html" %}
    {% endif %}
{% endblock %}
